<%- include('partials/navbar') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Employee Record System</title>
    <link rel="stylesheet" href="/css/delete.css">
  </head>
  <body>
    <h1>Welcome to the Delete Employee Page!</h1>
    <p></p>
  </body>
</html>
