html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  flex: 1;
  padding: 50px;
}

footer {
  margin-top: auto;
  background:#222;
  color:white;
  text-align:center;
  padding:20px;
}

a {
  color: #00B7FF;
}
